<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='/static/css/styles.css' rel="stylesheet">
    {% block css %}{% endblock css %}
    <title>
        {% block title %}{% endblock title %}
    </title>
</head>
    <body>
        {% block header %}
        <header>
            <a href="/prisoners" class="fast_links-main">Оккупанты</a>
            <nav class="nav-log">
                <a href="/prisoners" class="fast_links active">Список</a>
                <a href="/analytics" class="fast_links">Сатистика</a>
                <a href="/requests" class="fast_links" id='requests'>Запросы</a>
            </nav>
            <a class="fast_links-back">Всего в базе {{prisoners_count}}</a>
        </header>
        {% endblock header %}
        <main>
            {% block content %}{% endblock content %}
        </main>  
        <script src='/static/js/script.js'></script> 
    </body>
</html>